*{
    margin: 0;
    padding: 0;
}
.container{
    width: 100%;
    height: 100vh;
    background-color:aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center; 
    margin-right: 850px;
}
.logout-form{
    padding-top: 30px;
    width: 450px;
    height: 390px;
    border-radius: 6px; 
    background-color: white;
    
}
.logout-form img{
    width: 150px;
    height: 170px;
    padding-bottom: 20px;
}
.logout-form h3{
    font-size: 22px;
    padding-bottom: 30px;
}
.logout-form p{
    font-size: 20px;
    font-family: serif;
    color:dimgrey;
    padding-bottom: 20px;
}
.logout-form button{
    background-color: navy;
    color: white;
    font-family:monospace;
    padding: 4px;
    font-weight: bold;
    border-radius: 3.5px;
    font-size:small;
}
