body {
    overflow: hidden;
}

.activity {
    margin: 80px 400px 0px 200px;
}

.activity table {
    background-color: rgb(235, 240, 253);
    padding-right: 100px;
    border-radius: 10px;
}

.activity table tr td {
    padding: 10px 15px;
}

table tr td:nth-child(odd) {
    font-weight: bold;
}

table tr td:nth-child(even) {
    font-weight: normal;
}

.details {
    margin: 30px 400px 30px 200px;
    font-weight: normal !important;
}

.buttons {
    position: absolute;
    right: 28%;
    top: 80%;
}

.buttons select {
    background-color: rgb(23, 4, 95);
    color: white;
    padding: 8px 15px;
    border-radius: 5px;
}

.buttons button .material-symbols-outlined {
    background-color: rgb(23, 4, 95);
    color: white;
    padding: 4px;
    border-radius: 5px;
    margin-left: 2px;
}

.buttons button {
    margin: 0px;
    padding: 0px;
    border: 0px;
    position: relative;
    top: 8px
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    background: transparent;
    background-image: url("data:image/svg+xml;utf8,<svg fill='white' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-position-y: 5px;
    border: 1px solid #dfdfdf;
    border-radius: 2px;
    padding: 1rem;
    padding-right: 1.5rem !important;
    color: white;
}